@font-face {
  font-family: "segoe regular";
  src: url("../font/segoepro_regular.ttf"); }
@font-face {
  font-family: "segoe light";
  src: url("../font/segoepro_light.ttf"); }
@font-face {
  font-family: "segoe bold";
  src: url("../font/segoepro_bold.ttf"); }
@font-face {
  font-family: "segoe semibold";
  src: url("../font/segoepro_semibold.ttf"); }
.container-fluid {
  padding: 0;
  margin: 0; }

#header .backgroundheader {
  background-image: url(../img/backgrounds/bg_header.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  height: 800px; }
#header .navbar {
  height: 100px;
  background-color: rgba(53, 63, 70, 0.85); }
  #header .navbar .navbar-brand {
    color: white;
    font-family: "segoe bold";
    font-size: 30px; }
    #header .navbar .navbar-brand span {
      color: #4bcaff;
      font-family: "segoe bold"; }
  #header .navbar .nav-link {
    color: white;
    font-size: 14px;
    font-family: "segoe bold"; }
#header .titreheader {
  padding-top: 13%; }
  #header .titreheader #txth1 {
    color: white;
    background-color: rgba(53, 63, 70, 0.7);
    font-size: 42px;
    font-family: "segoe light"; }
  #header .titreheader span {
    color: white;
    background-color: rgba(53, 63, 70, 0.7);
    font-size: 42px;
    font-family: "segoe light"; }

#services {
  background-color: #4bcaff;
  height: 400px; }
  #services .bordertitle {
    margin-top: 4%;
    display: flex;
    flex-direction: column; }
  #services h2 {
    font-family: "segoe light";
    color: white; }
  #services .underline {
    border: white solid 0.5px;
    width: 44px; }
  #services .contenue {
    padding-top: 3.5%; }
  #services img {
    padding-bottom: 7%; }
  #services .titreservice {
    color: white;
    font-family: "segoe semibold";
    font-size: 24px; }
  #services p {
    color: white;
    font-family: "segoe semibold";
    font-size: 14px; }

#features {
  height: 843px;
  padding-top: 5%; }
  #features nav {
    padding-bottom: 5%; }
    #features nav .bordertitle {
      margin-top: 4%;
      display: flex;
      flex-direction: column; }
    #features nav .underline {
      border: #515f67 solid 0.5px;
      width: 44px; }
    #features nav .navbar-brand {
      font-family: "segoe light";
      color: #515f67; }
      #features nav .navbar-brand .navbar-nav {
        justify-content: flex-end; }
  #features .photopart2 {
    padding-top: 1.5%; }

#justdefault {
  background-color: #515f67;
  height: 478px; }
  #justdefault .underline {
    border: white solid 0.5px;
    width: 44px; }
  #justdefault .bordertitle {
    margin-top: 4%;
    display: flex;
    flex-direction: column; }
  #justdefault h2 {
    font-family: "segoe light";
    color: white;
    padding-top: 7%; }
  #justdefault .text {
    font-family: "segoe regular";
    color: white;
    padding-top: 3%;
    font-size: 14px; }
    #justdefault .text button {
      font-family: "segoe bold"; }
  #justdefault .video {
    margin-bottom: 5%; }

#twitter {
  height: 302px;
  background-color: #4bcaff; }
  #twitter h2 {
    font-family: "segoe light";
    color: white;
    padding-top: 6%; }
  #twitter .underline {
    border: white solid 0.5px;
    width: 35%; }
  #twitter .bordertitle {
    margin-top: 4%;
    display: flex;
    flex-direction: column; }
  #twitter p {
    font-family: "segoe light";
    color: white;
    padding-top: 2%;
    font-size: 28px; }
    #twitter p span {
      font-family: "segoe semibold"; }

#who {
  height: 504px;
  background-image: url(../img/backgrounds/bg_who_is.jpg);
  background-position: cover;
  background-repeat: no-repeat; }
  #who .bordertitle {
    margin-top: 4%;
    display: flex;
    flex-direction: column; }
    #who .bordertitle h2 {
      font-family: "segoe light";
      color: white;
      padding-top: 6%; }
    #who .bordertitle .underline {
      border: white solid 0.5px;
      width: 44px;
      margin-bottom: 5%; }
  #who p {
    font-family: "segoe regular";
    color: white;
    font-size: 14px; }

#testimonials {
  height: 360px; }
  #testimonials .bordertitle {
    margin-top: 4%;
    display: flex;
    flex-direction: column; }
    #testimonials .bordertitle h2 {
      font-family: "segoe light";
      color: #515f67;
      padding-top: 6%; }
    #testimonials .bordertitle .underline {
      border: #515f67 solid 0.5px;
      width: 44px;
      margin-bottom: 5%; }
  #testimonials p {
    font-family: "segoe light";
    color: #515f67;
    padding-top: 2%;
    font-size: 28px; }
  #testimonials span {
    font-family: "segoe bold";
    color: #4bcaff; }

#contact {
  height: 814px;
  background-image: url(../img/backgrounds/bg_contact.jpg);
  background-position: cover;
  background-repeat: no-repeat; }
  #contact .bordertitle {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    margin-bottom: 4%; }
    #contact .bordertitle h2 {
      font-family: "segoe light";
      color: white;
      padding-top: 6%; }
    #contact .bordertitle .underline {
      border: white solid 0.5px;
      width: 44px; }
  #contact label {
    font-family: "segoe bold";
    color: white;
    font-size: 14px; }
  #contact input {
    background-color: transparent;
    border: white solid 1px;
    height: 59px;
    border-radius: 0; }
  #contact .first_text {
    padding-top: 4%; }
  #contact p {
    font-family: "segoe semibold";
    font-size: 14px;
    color: white;
    margin-bottom: 1%; }
  #contact .message {
    padding-top: 3%; }
  #contact textarea {
    background-color: transparent;
    border: white solid 1px;
    height: 217px;
    margin-bottom: 3%; }
  #contact .btn {
    font-family: "segoe bold";
    color: white;
    font-size: 14px;
    border-radius: 0; }
  #contact .btn-primary {
    background-color: #4bcaff;
    border-color: transparent; }
  #contact .btn-primary:hover {
    background-color: transparent;
    border-color: #515f67 solid 5px; }
  #contact .btn:hover {
    font-family: "segoe bold";
    color: #515f67;
    font-size: 14px;
    border-color: #515f67 solid 5px; }

#footer {
  height: 170px;
  background-color: #353f47; }
  #footer .menufooter {
    padding-top: 7%;
    display: flex;
    flex-direction: row;
    padding-right: 3%; }
    #footer .menufooter p {
      font-family: "segoe semibold";
      font-size: 14px;
      color: #515f67; }
    #footer .menufooter a {
      font-family: "segoe semibold";
      font-size: 14px;
      color: #515f67;
      padding-right: 3%;
      padding-left: 3%; }
    #footer .menufooter a:hover {
      text-decoration: none;
      color: white; }

/*# sourceMappingURL=style.css.map */
