// GENERAL
@font-face {
  font-family: "segoe regular";
  src: url("../font/segoepro_regular.ttf");
}

@font-face {
  font-family: "segoe light";
  src: url("../font/segoepro_light.ttf");
}

@font-face {
  font-family: "segoe bold";
  src: url("../font/segoepro_bold.ttf");
}

@font-face {
  font-family: "segoe semibold";
  src: url("../font/segoepro_semibold.ttf");
}

.container-fluid {
  padding: 0;
  margin: 0;
}
// ********************************************HEADER**********************************************
#header {
  .backgroundheader {
    background-image: url(../img/backgrounds/bg_header.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    height: 800px;
  }
  .navbar {
    height: 100px;
    background-color: rgba($color: #353f46, $alpha: 0.85);
    .navbar-brand {
      color: white;
      font-family: "segoe bold";
      font-size: 30px;
      span {
        color: #4bcaff;
        font-family: "segoe bold";
      }
    }
    .nav-link {
      color: white;
      font-size: 14px;
      font-family: "segoe bold";
    }
  }

  .titreheader {
    padding-top: 13%;
    #txth1 {
      color: white;
      background-color: rgba($color: #353f46, $alpha: 0.7);
      font-size: 42px;
      font-family: "segoe light";
    }
    span {
      color: white;
      background-color: rgba($color: #353f46, $alpha: 0.7);
      font-size: 42px;
      font-family: "segoe light";
    }
  }
}
// *********************************SECTION 1 ** SERVICES *******************************

#services {
  background-color: #4bcaff;
  height: 400px;
  padding-top: 8%;
  img {
    padding-bottom: 7%;
  }

  .titreservice {
    color: white;
    font-family: "segoe semibold";
    font-size: 24px;
  }
  p {
    color: white;
    font-family: "segoe semibold";
    font-size: 14px;
  }
}
// *********************************SECTION 2 portfolio******************************
#features {
  height: 843px;
  padding-top: 5%;
  nav {
    padding-bottom: 5%;
    .navbar-brand {
      font-family: "segoe light";
      color: #515f67;
      border-bottom: #353f46 solid 2px;

      //   .underline {
      //     border-bottom: #353f46 solid 2px;
      //     border-bottom-width: 12px;
      //    height: 15px;
      //    width: 10%;
      // }
      .navbar-nav {
        justify-content: flex-end;
      }
    }
  }
  .photopart2 {
    padding-top: 1.5%;
  }
}
// ******************************SECTION 3 just default section********************************
#justdefault {
  background-color: #515f67;
  height: 478px;
  h2 {
    font-family: "segoe light";
    color: white;
    border-bottom: white solid 2px;
    padding-top: 7%;
  }
  .text {
    font-family: "segoe regular";
    color: white;
    padding-top: 3%;
    font-size: 14px;
    button {
      font-family: "segoe bold";
    }
  }
  .video {
    margin-bottom: 5%;
  }
}
// ***********************************SECTION 4 twitter**************************
#twitter {
  height: 302px;
  background-color: #4bcaff;
  h2 {
    font-family: "segoe light";
    color: white;
    border-bottom: white solid 2px;
    padding-top: 6%;
  }
  p {
    font-family: "segoe light";
    color: white;
    padding-top: 2%;
    font-size: 28px;
    span {
      font-family: "segoe semibold";
    }
  }
}
// *********************************SECTION 5 who is john doe**********************
#who {
  height: 504px;
  background-image: url(../img/backgrounds/bg_who_is.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  h2 {
    font-family: "segoe light";
    color: white;
    border-bottom: white solid 2px;
    padding-top: 6%;
    margin-left: 15px;
    margin-bottom: 5%;
  }

  p {
    font-family: "segoe regular";
    color: white;
    font-size: 14px;
  }
}

// ***********************************SECTION 6 testimonials***********************
#testimonials {
  height: 360px;
  h2 {
    font-family: "segoe light";
    color: #515f67;
    border-bottom: #515f67 solid 2px;
    padding-top: 6%;
  }
  p {
    font-family: "segoe light";
    color: #515f67;
    padding-top: 2%;
    font-size: 28px;
  }
  span {
    font-family: "segoe bold";
    color: #4bcaff;
  }
}
// ************************************SECTION 7 contact*************************
#contact {
  height: 814px;
  background-image: url(../img/backgrounds/bg_contact.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  h2 {
    font-family: "segoe light";
    color: white;
    border-bottom: white solid 2px;
    padding-top: 6%;
    margin-bottom: 3%;
  }
  label {
    font-family: "segoe bold";
    color: white;
    font-size: 14px;
  }
  input {
    background-color: transparent;
    border: white solid 1px;
    height: 59px;
    border-radius: 0;
  }
  .first_text{
    padding-top: 4%;
  }
  p {
    font-family: "segoe semibold";
    font-size: 14px;
    color: white;
    margin-bottom: 1%;
    
  }
  .message {
    padding-top: 3%;}
  textarea {
    background-color: transparent;
    border: white solid 1px;
    height: 217px;
    margin-bottom: 3%;
  }
  .btn {
    font-family: "segoe bold";
    color: white;
    font-size: 14px;
    border-radius: 0;
  }
  .btn-primary {
    background-color: #4bcaff;
    border-color: transparent;
    
  }
  .btn-primary:hover {
    background-color: transparent;
    border-color: #515f67 solid 5px;
  }
  .btn:hover {
    font-family: "segoe bold";
    color:#515f67;
    font-size: 14px;
    border-color: #515f67 solid 5px;
  }
}
// *************************************************FOOTER**************************************
#footer {
  height: 170px;
  background-color: #353f47;
  .menufooter{
padding-top: 7%;
display: flex;
flex-direction: row;
padding-right: 3%;
p {
  font-family: "segoe semibold";
  font-size: 14px;
  color: #515f67;
}
a {
  font-family: "segoe semibold";
  font-size: 14px;
  color: #515f67;
  padding-right: 3%;
  padding-left: 3%;
}
a:hover {
  text-decoration: none;
  color: white;
}
  }
}