// GENERAL
@font-face {
  font-family: "segoe regular";
  src: url("../font/segoepro_regular.ttf");
}

@font-face {
  font-family: "segoe light";
  src: url("../font/segoepro_light.ttf");
}

@font-face {
  font-family: "segoe bold";
  src: url("../font/segoepro_bold.ttf");
}

@font-face {
  font-family: "segoe semibold";
  src: url("../font/segoepro_semibold.ttf");
}

.container-fluid {
  padding: 0;
  margin: 0;
}
// ********************************************HEADER**********************************************
#header {
  .backgroundheader {
    background-image: url(../img/backgrounds/bg_header.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    height: 800px;
  }
  #positionf {
    position: fixed;
    z-index: 100000;

    .navbar {
      height: 100px;
      background-color: rgba($color: #353f46, $alpha: 0.85);

      .navbar-brand {
        color: white;
        font-family: "segoe bold";
        font-size: 30px;
        span {
          color: #4bcaff;
          font-family: "segoe bold";
        }
      }
      .nav-link {
        color: white;
        font-size: 14px;
        font-family: "segoe bold";
      }
      .nav-link:hover {
        color: #4bcaff;
      }
    }
  }

  .titreheader {
    padding-top: 13%;
    #txth1 {
      color: white;
      background-color: rgba($color: #353f46, $alpha: 0.7);
      font-size: 42px;
      font-family: "segoe light";
    }
    span {
      color: white;
      background-color: rgba($color: #353f46, $alpha: 0.7);
      font-size: 42px;
      font-family: "segoe light";
    }
  }
}
// *********************************SECTION 1 ** SERVICES *******************************

#services {
  background-color: #4bcaff;
  height: 400px;
  .bordertitle {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
  }
  #scroolservices {
    font-family: "segoe light";
    color: white;
  }
  .underline {
    border: white solid 0.5px;
    width: 44px;
  }
  .contenue {
    padding-top: 3.5%;
  }
  img {
    padding-bottom: 7%;
  }

  .titreservice {
    color: white;
    font-family: "segoe semibold";
    font-size: 24px;
  }
  p {
    color: white;
    font-family: "segoe semibold";
    font-size: 14px;
  }
}
// *********************************SECTION 2 portfolio******************************
#features {
  height: 843px;
  padding-top: 0;
  nav {
    padding-bottom: 5%;
    .bordertitle {
      margin-top: 4%;
      display: flex;
      flex-direction: column;
    }
    .underline {
      border: #515f67 solid 0.5px;
      width: 44px;
    }
    .navbar-brand {
      font-family: "segoe light";
      color: #515f67;
      font-size: 30px;
    }
    .navbar-nav {
      padding-left: 60%;
      padding-top: 5%;
    }
  }

  .overlay {
    padding-left: 15px;
    margin: 0 30px 0 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba($color: #353f47, $alpha: 0.9);
    cursor: pointer;
  }
  .textoverlay {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .imgportfolio:hover .overlay {
    opacity: 1;
  }
  // .imgportfolio:hover {
  //   // opacity: 0.3;
  //   color: #353f46;
  // }
  .photopart2 {
    padding-top: 1.5%;
  }
}
// ******************************SECTION 3 just default section********************************
#justdefault {
  background-color: #515f67;
  height: 478px;
  .underline {
    border: white solid 0.5px;
    width: 44px;
  }

  .bordertitle {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
  }
  h2 {
    font-family: "segoe light";
    color: white;
    padding-top: 7%;
  }
  .text {
    font-family: "segoe regular";
    color: white;
    padding-top: 3%;
    font-size: 14px;
    button {
      font-family: "segoe bold";
    }
  }
  .video {
    margin-bottom: 5%;
  }
}
// ***********************************SECTION 4 twitter**************************
#twitter {
  height: 302px;
  background-color: #4bcaff;
  h2 {
    font-family: "segoe light";
    color: white;
    padding-top: 6%;
  }
  .underline {
    border: white solid 0.5px;
    width: 35%;
  }
  .bordertitle {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
  }
  p {
    font-family: "segoe light";
    color: white;
    padding-top: 2%;
    font-size: 28px;
    span {
      font-family: "segoe semibold";
    }
  }
}
// *********************************SECTION 5 who is john doe**********************
#who {
  height: 504px;
  background-image: url(../img/backgrounds/bg_who_is.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  .bordertitle {
    margin-top: 6%;
    display: flex;
    flex-direction: column;

    h2 {
      font-family: "segoe light";
      color: white;
      padding-top: 6%;
    }

    .underline {
      border: white solid 0.5px;
      width: 44px;
      margin-bottom: 10%;
    }
  }

  p {
    font-family: "segoe regular";
    color: white;
    font-size: 14px;
  }
}

// ***********************************SECTION 6 testimonials***********************
#testimonials {
  height: 360px;
  .bordertitle {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    h2 {
      font-family: "segoe light";
      color: #515f67;
      padding-top: 6%;
    }
    .underline {
      border: #515f67 solid 0.5px;
      width: 44px;
      margin-bottom: 5%;
    }
  }
  p {
    font-family: "segoe light";
    color: #515f67;
    padding-top: 2%;
    font-size: 28px;
  }
  span {
    font-family: "segoe bold";
    color: #4bcaff;
  }
}
// ************************************SECTION 7 contact*************************
#contact {
  height: 814px;
  background-image: url(../img/backgrounds/bg_contact.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  .bordertitle {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
    h2 {
      font-family: "segoe light";
      color: white;
      padding-top: 6%;
    }
    .underline {
      border: white solid 0.5px;
      width: 44px;
    }
  }
  label {
    font-family: "segoe bold";
    color: white;
    font-size: 14px;
  }
  input {
    background-color: transparent;
    border: white solid 1px;
    height: 59px;
    border-radius: 0;
  }
  .first_text {
    padding-top: 4%;
  }
  p {
    font-family: "segoe semibold";
    font-size: 14px;
    color: white;
    margin-bottom: 1%;
  }
  .message {
    padding-top: 3%;
  }
  textarea {
    background-color: transparent;
    border: white solid 1px;
    height: 217px;
    margin-bottom: 3%;
  }
  .btn {
    font-family: "segoe bold";
    color: white;
    font-size: 14px;
    border-radius: 0;
  }
  .btn-primary {
    background-color: #4bcaff;
    border-color: transparent;
  }
  .btn-primary:hover {
    background-color: transparent;
    border-color: #515f67 solid 5px;
  }
  .btn:hover {
    font-family: "segoe bold";
    color: #515f67;
    font-size: 14px;
    border-color: #515f67 solid 5px;
  }
}
// *************************************************FOOTER**************************************
#footer {
  height: 170px;
  background-color: #353f47;
  .menufooter {
    padding-top: 7%;
    display: flex;
    flex-direction: row;
    padding-right: 3%;
    p {
      font-family: "segoe semibold";
      font-size: 14px;
      color: #515f67;
    }
    a {
      font-family: "segoe semibold";
      font-size: 14px;
      color: #515f67;
      padding-right: 3%;
      padding-left: 3%;
    }
    a:hover {
      text-decoration: none;
      color: white;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #header {
    .titreheader {
      padding-top: 20%;
    }
  }
  // ********SECTION PORTFOLIO
  #features nav .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  #header {
    .titreheader {
      padding-top: 30%;
    }
  }
  // ********SECTION PORTFOLIO
  #features {
    height: 700px;
    nav .navbar-nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    img {
      height: 220px;
    }
  }
  // *******TWITTER
  #twitter {
    height: 260px;
  }
  // *********TESTIMONIALS
  #testimonials {
    height: 320px;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  #header {
    .titreheader {
      padding-top: 40%;
    }
  }
  // ********SECTION SERVICE
  #services {
    height: 600px;
  }
  // ********SECTION PORTFOLIO
  #features {
    height: 1300px;
    img {
      padding-top: 5%;
    }
  }
  // *******SECTION JUST DEFAULT
  #justdefault {
    height: 650px;
  }
  // ********SECTION TWITTER
  #twitter {
    height: 230px;
  }
  // ***********SECTION CONTACT
  #contact {
    textarea {
      height: 100px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  #header {
    .titreheader {
      padding-top: 50%;
      #txth1 {
        font-size: 35px;
      }
      span {
        font-size: 35px;
      }
    }
  }
  // **************SECTION SERVICES
  #services {
    padding-left: 10%;
    height: 1150px;
    .underline {
      margin-bottom: 8%;
    }
    .contenue {
      padding-top: 7%;
    }
  }

  // ***************SECTION PORTFOLIO
  #features {
    height: 2500px;
    .imgportfolio {
      display: flex;
      justify-content: center;

      img {
        padding-top: 5%;
      }
    }
  }
  // ***************SECTION JUST DEFAULT
  #justdefault {
    padding-left: 10%;
    height: 630px;
    .video {
      height: 50px;
      margin: 0;
      padding-right: 10%;
      // display: flex;
      // justify-content: center;
    }
  }
  // body{
  // .vp-center {
  //     display: flex;
  //   }
  // }
  // ****************SECTION TWITTER
  #twitter {
    padding-left: 10%;
  }
  // ***************SECTION WHO IS JOHN DOE
  #who {
    height: 480px;
  }
  // ***************SECTION TESTIMONIALS
  #testimonials {
    padding-left: 10%;
    height: 420px;
  }
  // ****************SECTION CONTACT
  #contact {
    textarea {
      height: 150px;
    }
  }
  // ****************CONTACT
  #footer {
    height: 100px;
    // a {
    //   font-size: 20px;
    // }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media screen and (max-width: 575.98px) {
  #header {
    height: 500px;
    .titreheader {
      padding-top: 50%;
      #txth1 {
        font-size: 30px;
      }
      span {
        font-size: 30px;
      }
    }
  }
  // **************SECTION SERVICES
  #services {
    padding-top: 5%;
    padding-left: 10%;
    height: 1150px;
    .underline {
      margin-bottom: 10%;
    }
    .contenue {
      padding-top: 10%;
    }
  }

  // ***************SECTION PORTFOLIO
  #features {
    height: 2500px;
    .imgportfolio {
      display: flex;
      justify-content: center;

      img {
        padding-top: 5%;
      }
    }
  }
  // ***************SECTION JUST DEFAULT
  #justdefault {
    padding-left: 10%;
    height: 600px;
    .video {
      height: 50px;
      margin: 0;
      padding-right: 10%;
      // display: flex;
      // justify-content: center;
    }
  }
  // body{
  // .vp-center {
  //     display: flex;
  //   }
  // }
  // ****************SECTION TWITTER
  #twitter {
    padding-left: 10%;
  }
  // ***************SECTION WHO IS JOHN DOE
  #who {
    height: 480px;
  }
  // ***************SECTION TESTIMONIALS
  #testimonials {
    padding-left: 10%;
    height: 420px;
  }
  // ****************SECTION CONTACT
  #contact {
    textarea {
      height: 150px;
    }
  }
  // ****************CONTACT
  #footer {
    height: 100px;
    // a {
    //   font-size: 20px;
    // }
  }
}
