@font-face {
  font-family: "segoe regular";
  src: url("../font/segoepro_regular.ttf"); }
@font-face {
  font-family: "segoe light";
  src: url("../font/segoepro_light.ttf"); }
@font-face {
  font-family: "segoe bold";
  src: url("../font/segoepro_bold.ttf"); }
@font-face {
  font-family: "segoe semibold";
  src: url("../font/segoepro_semibold.ttf"); }
.container-fluid {
  padding: 0;
  margin: 0; }

#header .backgroundheader {
  background-image: url(../img/backgrounds/bg_header.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  height: 800px; }
#header #positionf {
  position: fixed;
  z-index: 100000; }
  #header #positionf .navbar {
    height: 100px;
    background-color: rgba(53, 63, 70, 0.85); }
    #header #positionf .navbar .navbar-brand {
      color: white;
      font-family: "segoe bold";
      font-size: 30px; }
      #header #positionf .navbar .navbar-brand span {
        color: #4bcaff;
        font-family: "segoe bold"; }
    #header #positionf .navbar .nav-link {
      color: white;
      font-size: 14px;
      font-family: "segoe bold"; }
    #header #positionf .navbar .nav-link:hover {
      color: #4bcaff; }
#header .titreheader {
  padding-top: 13%; }
  #header .titreheader #txth1 {
    color: white;
    background-color: rgba(53, 63, 70, 0.7);
    font-size: 42px;
    font-family: "segoe light"; }
  #header .titreheader span {
    color: white;
    background-color: rgba(53, 63, 70, 0.7);
    font-size: 42px;
    font-family: "segoe light"; }

#services {
  background-color: #4bcaff;
  height: 400px; }
  #services .bordertitle {
    margin-top: 4%;
    display: flex;
    flex-direction: column; }
  #services #scroolservices {
    font-family: "segoe light";
    color: white; }
  #services .underline {
    border: white solid 0.5px;
    width: 44px; }
  #services .contenue {
    padding-top: 3.5%; }
  #services img {
    padding-bottom: 7%; }
  #services .titreservice {
    color: white;
    font-family: "segoe semibold";
    font-size: 24px; }
  #services p {
    color: white;
    font-family: "segoe semibold";
    font-size: 14px; }

#features {
  height: 843px;
  padding-top: 0;
  /* Clear floats after rows */
  /* The "show" class is added to the filtered elements */
  /* Style the buttons */
  /* Add a grey background color on mouse-over */
  /* Add a dark background color to the active button */ }
  #features .column {
    display: none; }
  #features .row:after {
    content: "";
    display: table;
    clear: both; }
  #features .show {
    display: block; }
  #features .btn {
    border: none;
    outline: none;
    cursor: pointer; }
  #features .btn:hover {
    border: solid #4bcaff 1px;
    color: #515f67;
    outline: none; }
  #features .btn.active {
    color: #515f67;
    outline: none; }
  #features .bordertitle {
    margin-top: 4%;
    display: flex;
    flex-direction: column; }
  #features .underline {
    border: #515f67 solid 0.5px;
    width: 44px; }
  #features .navbar-brand {
    color: #515f67;
    font-size: 30px; }
  #features #myBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
  #features .overlay {
    padding-left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(53, 63, 71, 0.9);
    cursor: pointer; }
  #features .textoverlay {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
  #features .imgportfolio:hover .overlay {
    opacity: 1; }
  #features .photopart2 {
    padding-top: 1.5%; }
    #features .photopart2 .row {
      padding: 0;
      margin: 0; }

#justdefault {
  background-color: #515f67;
  height: 478px; }
  #justdefault .underline {
    border: white solid 0.5px;
    width: 44px; }
  #justdefault .bordertitle {
    margin-top: 4%;
    display: flex;
    flex-direction: column; }
  #justdefault h2 {
    font-family: "segoe light";
    color: white;
    padding-top: 7%; }
  #justdefault .text {
    font-family: "segoe regular";
    color: white;
    padding-top: 3%;
    font-size: 14px; }
    #justdefault .text button {
      font-family: "segoe bold"; }
  #justdefault .video {
    margin-bottom: 5%; }

#twitter {
  height: 302px;
  background-color: #4bcaff; }
  #twitter h2 {
    font-family: "segoe light";
    color: white;
    padding-top: 6%; }
  #twitter .underline {
    border: white solid 0.5px;
    width: 35%; }
  #twitter .bordertitle {
    margin-top: 4%;
    display: flex;
    flex-direction: column; }
  #twitter p {
    font-family: "segoe light";
    color: white;
    padding-top: 2%;
    font-size: 28px; }
    #twitter p span {
      font-family: "segoe semibold"; }

#who {
  height: 504px;
  background-image: url(../img/backgrounds/bg_who_is.jpg);
  background-position: cover;
  background-repeat: no-repeat; }
  #who .bordertitle {
    margin-top: 6%;
    display: flex;
    flex-direction: column; }
    #who .bordertitle h2 {
      font-family: "segoe light";
      color: white;
      padding-top: 6%; }
    #who .bordertitle .underline {
      border: white solid 0.5px;
      width: 44px;
      margin-bottom: 10%; }
  #who p {
    font-family: "segoe regular";
    color: white;
    font-size: 14px; }

#testimonials {
  height: 360px; }
  #testimonials .bordertitle {
    margin-top: 4%;
    display: flex;
    flex-direction: column; }
    #testimonials .bordertitle h2 {
      font-family: "segoe light";
      color: #515f67;
      padding-top: 6%; }
    #testimonials .bordertitle .underline {
      border: #515f67 solid 0.5px;
      width: 44px;
      margin-bottom: 5%; }
  #testimonials p {
    font-family: "segoe light";
    color: #515f67;
    padding-top: 2%;
    font-size: 28px; }
  #testimonials span {
    font-family: "segoe bold";
    color: #4bcaff; }

#contact {
  height: 814px;
  background-image: url(../img/backgrounds/bg_contact.jpg);
  background-position: cover;
  background-repeat: no-repeat; }
  #contact .bordertitle {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    margin-bottom: 4%; }
    #contact .bordertitle h2 {
      font-family: "segoe light";
      color: white;
      padding-top: 6%; }
    #contact .bordertitle .underline {
      border: white solid 0.5px;
      width: 44px; }
  #contact label {
    font-family: "segoe bold";
    color: white;
    font-size: 14px; }
  #contact input {
    background-color: transparent;
    border: white solid 1px;
    height: 59px;
    border-radius: 0; }
  #contact .first_text {
    padding-top: 4%; }
  #contact p {
    font-family: "segoe semibold";
    font-size: 14px;
    color: white;
    margin-bottom: 1%; }
  #contact .message {
    padding-top: 3%; }
  #contact textarea {
    background-color: transparent;
    border: white solid 1px;
    height: 217px;
    margin-bottom: 3%; }
  #contact .btn {
    font-family: "segoe bold";
    color: white;
    font-size: 14px;
    border-radius: 0; }
  #contact .btn-primary {
    background-color: #4bcaff;
    border-color: transparent; }
  #contact .btn-primary:hover {
    background-color: transparent;
    border-color: #515f67 solid 5px; }
  #contact .btn:hover {
    font-family: "segoe bold";
    color: #515f67;
    font-size: 14px;
    border-color: #515f67 solid 5px; }

#footer {
  height: 170px;
  background-color: #353f47; }
  #footer .menufooter {
    padding-top: 7%;
    display: flex;
    flex-direction: row;
    padding-right: 3%; }
    #footer .menufooter p {
      font-family: "segoe semibold";
      font-size: 14px;
      color: #515f67; }
    #footer .menufooter a {
      font-family: "segoe semibold";
      font-size: 14px;
      color: #515f67;
      padding-right: 3%;
      padding-left: 3%; }
    #footer .menufooter a:hover {
      text-decoration: none;
      color: white; }

@media (min-width: 1200px) {
  #header .titreheader {
    padding-top: 20%; }

  #features nav .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  #header .titreheader {
    padding-top: 30%; }

  #features {
    height: 700px; }
    #features nav .navbar-nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
    #features img {
      height: 220px; }

  #twitter {
    height: 260px; }

  #testimonials {
    height: 320px; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  #header .titreheader {
    padding-top: 40%; }

  #services {
    height: 600px; }

  #features {
    height: 1300px; }
    #features img {
      padding-top: 5%; }

  #justdefault {
    height: 650px; }

  #twitter {
    height: 230px; }

  #contact textarea {
    height: 100px; } }
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  #header .titreheader {
    padding-top: 50%; }
    #header .titreheader #txth1 {
      font-size: 35px; }
    #header .titreheader span {
      font-size: 35px; }

  #services {
    padding-left: 10%;
    height: 1150px; }
    #services .underline {
      margin-bottom: 8%; }
    #services .contenue {
      padding-top: 7%; }

  #features {
    height: 2500px; }
    #features .imgportfolio {
      display: flex;
      justify-content: center; }
      #features .imgportfolio img {
        padding-top: 5%; }

  #justdefault {
    padding-left: 10%;
    height: 630px; }
    #justdefault .video {
      height: 50px;
      margin: 0;
      padding-right: 10%; }

  #twitter {
    padding-left: 10%; }

  #who {
    height: 480px; }

  #testimonials {
    padding-left: 10%;
    height: 420px; }

  #contact textarea {
    height: 150px; }

  #footer {
    height: 100px; } }
@media screen and (max-width: 575.98px) {
  #header {
    height: 500px; }
    #header .titreheader {
      padding-top: 50%; }
      #header .titreheader #txth1 {
        font-size: 30px; }
      #header .titreheader span {
        font-size: 30px; }

  #services {
    padding-top: 5%;
    padding-left: 10%;
    height: 1150px; }
    #services .underline {
      margin-bottom: 10%; }
    #services .contenue {
      padding-top: 10%; }

  #features {
    height: 2500px; }
    #features .imgportfolio {
      display: flex;
      justify-content: center; }
      #features .imgportfolio img {
        padding-top: 5%; }

  #justdefault {
    padding-left: 10%;
    height: 600px; }
    #justdefault .video {
      height: 50px;
      margin: 0;
      padding-right: 10%; }

  #twitter {
    padding-left: 10%; }

  #who {
    height: 480px; }

  #testimonials {
    padding-left: 10%;
    height: 420px; }

  #contact textarea {
    height: 150px; }

  #footer {
    height: 100px; } }

/*# sourceMappingURL=style.css.map */
